{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="ru">
    <head>
        <meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		{% block head %}
		{% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">    
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'venobox/venobox.css' %}" type="text/css" media="screen" />     
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">    
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">     
        <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/nivo-slider.css' %}">        
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">       
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">           
        <link rel="stylesheet" href="{% static 'css/main.css' %}">        
        <link rel="stylesheet" href="{% static 'css/style.css' %}">     
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        
        <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    </head>
    <body>
    <!--Start nav  area --> 
	<div class="nav_area" id="sticker">
		<div class="container">
			<div class="row">
				<!--logo area-->
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<div class="logo"><a href="/">Народный исторический  музей «Спадчына»</a></div>
				</div>
				<!--end logo area-->
				<!--nav area-->
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					<!--  nav menu-->
					<nav class="menu">
						<ul class="navid">
							<li><a href="/">Главная</a></li>
							<li><a href="/about">Про музей</a></li>
							<li><a href="/#expositions">Экспозиции</a></li>						
							<li><a href="/news.html">Новости</a></li>
							<li><a href="#contact">Контакты</a></li>
						</ul>
					</nav>
					<!--end  nav menu-->
					<!--moblie menu area-->
						<div class="dropdown mabile_menu">
							<a data-toggle="dropdown" class="mobile-menu" href="#"><span> МЕНЮ </span><i class="fa fa-bars"></i></a>
						  <ul class="dropdown-menu mobile_menus drop_mobile navid">
								<li><a href="/">Главная</a></li>
								<li><a href="/about">Про музей</a></li>
								<li><a href="/#expositions">Экспозиции</a></li>							
								<li><a href="/news.html">Новости</a></li>
								<li><a href="#contact">Контакты</a></li>
						  </ul>
						</div>	
						<!--end moblie menu-->						
				</div>
				<!--end nav area-->
			</div>	
		</div>
	</div>
	<!--end header  area -->	
	{% block content %}
	{% endblock %}

	<div class="footer_area ">
	
			<div class="container">
					<div class="row">
						<!--section title-->
						<div class=" col-sm-12 col-md-12 col-lg-12">	
							<div class="section_title service_color">
								<h2 class="title"><span>Контакты</span></h2>
							</div>
						</div>
						<!--end section title-->
					</div>		
					<div class="row">
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="single_address fix">
								<div class="address_icon"><span><i class="fa fa-map-marker"></i></span></div>
								<div class="address_text"><p><span>Адрес музея:</span> 222669, Минская обл., Столбцовский р-н., д. Залужье, ул. Новая, 155</p></div>
							</div>
							<div class="single_address fix">
								<div class="address_icon"><span><i class="fa fa-phone"></i></span></div>
								<div class="address_text"><p><span>Телефон:</span>  8 (01717) 37-4-41</p></div>
							</div>
							<div class="single_address fix">
								<div class="address_icon"><span><i class="fa fa-envelope-o"></i></span></div>
								<div class="address_text"><p><span>Email: </span> zalujie@tut.by</p></div>
							</div>
							<div class="single_address fix">
								<div class="address_icon"><span><i class="fa fa-desktop"></i></span></div>
								<div class="address_text"><p><span>Сайт учреждения образования:</span> <a href="https://zalujie.schools.by/" target="_blank">zalujie.schools.by</a></p></div>
							</div>					
						</div>
						<div class="col-sm-4 col-md-4 col-lg-4">
							<div class="map">
							   <!-- Start contact-map -->
									<div class="contact-map">
										<div id="googleMap">
											<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.3546117316773!2d26.600799315581074!3d53.44424697999961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDI2JzM5LjMiTiAyNsKwMzYnMTAuOCJF!5e0!3m2!1sru!2sby!4v1550508263887" frameborder="0" style="border:0" allowfullscreen></iframe> -->
										</div>
									</div>
								<!-- End contact-map -->
							</div>				
						</div>
	{% block footer %}
	{% endblock %}

	</div>
	<div class="footer_bottom_area" id="contact">
		<div class="container">
			<div class="row">
				<div class=" col-sm-12 col-md-12 col-lg-12">
					<div class="footer_text">
						<p>© 2019 ГУО «Учебно-педагогический комплекс «Залужский детский сад - средняя школа»</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>   
	<script src="{% static 'js/bootstrap.min.js' %}"></script>   
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>       
	<script src="{% static 'js/plugins.js' %}"></script>	
	<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'js/waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.mixitup.js' %}"></script>
	<script src="{% static 'js/jquery.nivo.slider.pack.js' %}"></script>       
	<script src="{% static 'js/jquery.nav.js' %}"></script>   
	<script src="{% static 'js/wow.js' %}"></script>
	<script>new WOW().init();</script>
	<script src="{% static 'venobox/venobox.min.js' %}"></script>         
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Google Map js -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script>
		function initialize() {
		  var mapOptions = {
			zoom: 15,
			scrollwheel: false,
			center: new google.maps.LatLng(53.444247, 26.602988)
		  };
	
		  var map = new google.maps.Map(document.getElementById('googleMap'),
			  mapOptions);
		  var marker = new google.maps.Marker({
			position: map.getCenter(),
			map: map
		  });
		}
	
		google.maps.event.addDomListener(window, 'load', initialize);
	</script>
</body>
</html>
 