{% extends 'museum/base.html' %}
{% load static %}

{% block head %}

<title>Народный исторический  музей «Спадчына» - {{ exposition.title }}</title>
<meta name="description" content="{{ exposition.title }}
{% if exposition.subtitle is not None %}
		{{ exposition.subtitle}}
{% endif %}">
<meta name="keywords" content="">

{% endblock %}

<!-- 'exposition_detail' pk=exposition.pk
src="{{ MEDIA_URL }}{{ exposition.photo }}"
{% for exposition in expositions %}
{% endfor %} -->

{% block content %}
    
    <div class="blog_slide">
			<div class="container">
				<div class="row">
					<div class="blog_slide_areas">
						<div class="single_blog_owl sblog1">
							{% for exp_img in exp_imgs %}
								<div class="col-md-12">
									<div class="blog_slide_item"><img src="{{ MEDIA_URL }}{{ exp_img.img }}" alt="" /></div>
								</div>
							{% endfor %}

							<!-- <div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/ex1.jpg' %}" alt="" /></div>
							</div>
							<div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/ex1.jpg' %}" alt="" /></div>
							</div>
							<div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/ex1.jpg' %}" alt="" /></div>
							</div> -->
							
						</div>
						<div class="back_home">
							<a href="/#expositions"><span><i class="fa fa-long-arrow-left"></i></span></a>
						</div>
					</div>
				</div>
			</div>
    </div>
    
	<div class="single_blog_area">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="single_blog_page">
						<div class="single_blog_text">
							<div class="post_title">
								<h2>
									{{ exposition.title }}
									{% if exposition.subtitle is not None %}
											{{ exposition.subtitle}}
									{% endif %}
								</h2>
							</div>
							<div class="blog_pra_text">
		    					<p>
                                    {{ exposition.description|linebreaksbr }}
								</p>
								{% if exposition.add_text %}
								<p class="pra_text_single">
									{{ exposition.add_text|linebreaksbr }}
								</p>
								{% endif %}
							</div>
						</div>												
					</div>
				</div>
    		</div>
        </div>
	</div>
</div>

{% endblock %}

{% block footer %}

			<div class="col-sm-4 col-md-4 col-lg-4">
				<form method="post">{% csrf_token  %}
					<div class="contract_us">	
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-user"></i></span>
							{{ form.sender_name }}
						</div>
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-envelope-o"></i></span>
							{{ form.sender }}
						</div>
						<div class="inputt">
							<span class="message_icon"><i class="fa fa-external-link"></i></span>
							{{ form.message }}
						</div> -->
						<div class="sunmite_button">
							<button type="submit" name="ok">Написать нам</button>
						</div>
					</div>
				</form>
			</div>				
		</div>
	</div>			

{% endblock %}