{% extends 'museum/base.html' %}
{% load static %}

{% block content %}
    
    <div class="blog_slide">
			<div class="container">
				<div class="row">
					<div class="blog_slide_areas">
						<div class="single_blog_owl sblog1">
							<div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/home1/2.png' %}" alt="" /></div>
							</div>
							<div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/home1/1.png' %}" alt="" /></div>
							</div>
							<div class="col-md-12">
								<div class="blog_slide_item"><img src="{% static 'img/home1/2.png' %}" alt="" /></div>
							</div>
							
						</div>
						<div class="back_home">
							<a href="/"><span><i class="fa fa-long-arrow-left"></i></span></a>
						</div>
					</div>
				</div>
			</div>
    </div>
    
	<div class="single_blog_area">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="single_blog_page">
						<div class="single_blog_text">
							<div class="post_title">
								<h2>
                                    {{ exposition.title }} {{ exposition.subtitle}}
								</h2>
							</div>
							<div class="blog_pra_text">
		    					<p>
                                    {{ exposition.description}}
								</p>
								<p class="pra_text_single">
									Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
								</p>
								<p>
									Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari
								</p>
							</div>
						</div>												
					</div>
				</div>
				<div class="col-md-1"></div>
    		</div>
        </div>
	</div>
</div>

{% endblock %}