
    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
    <p>&nbsp</p>


   
    <p>Спасибо за ваше сообщение!</p>
    <a href="/">Вернуться на главную</a>

    <div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="single_blog_page">
						<div class="single_blog_text">
							<div class="post_title">
								<h2>
									{{ message.sender_name }}
                                </h2>
                                
							</div>
		    					<p>
                                    {{ message.sender }}
                                    {{ message.message }}
								</p>
							
						</div>												
					</div>
				</div>
    		</div>
        </div>

    
