{% extends 'museum/base.html' %}
{% load static %}

{% block head %}

<title>Народный исторический  музей «Спадчына»</title>
<meta name="description" content="">
<meta name="keywords" content="">

{% endblock %}


{% block content %}
	
	<!-- HOME SLIDER -->
	<div class="slider-wrap home-1-slider collapse in visible-lg visible-md" id="home">
		<div id="mainSlider" class="nivoSlider slider-image">
			<img src="{% static 'img/sl1.jpg' %}" alt="main slider" title="#htmlcaption1"/>
			<img src="{% static 'img/sl2.jpg' %}" alt="main slider" title="#htmlcaption2"/>
		</div>
		<div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
			<div class="slider-progress"></div>	
			<div class="container">
				<div class="row">
					<div class="col-md-12">						
						<div class="slide1-text slide-text">
							<div class="middle-text">
								<div class="left_sidet1">
									<div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
										<h1>В музее проходят обзорные и тематические экскурсии, уроки, внеклассные мероприятия: литературно-исторические гостиные, викторины, митинги-реквиемы, уроки мужества.</h1>
									</div>
									<div class="cap-dec wow slideInRight" data-wow-duration="1.1s" data-wow-delay="0s">
										<h2></h2>
									</div>	
									<div class="cap-readmore animated fadeInUpBig" data-wow-duration="1.5s" data-wow-delay=".5s">
										<a href="#" class="hover_slider_button">Подробнее</a>
									</div>
								</div>				
							</div>	
						</div>		
					</div>
				</div>
			</div>					
		</div>
		<div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
			<div class="slider-progress"></div>				
			<div class="container">
				<div class="row">
					<div class="col-md-12">		
						<div class="slide2-text slide-text">
							<div class="middle-text">
								<div class="left_sidet1">
									<div class="cap-title wow bounceInDown" data-wow-duration=".9s" data-wow-delay="0s">
										<h1>Цель работы музея – изучение истории, культуры и природы своего края, постижение   таких понятий как Беларусь, Родина, Отчизна, осознание истории земли, где жили  деды и прадеды, которые оставили своим потомкам богатое духовное наследие.</h1>
									</div>
									<div class="cap-dec wow slideInRight" data-wow-duration="1.1s" data-wow-delay="0s">
										<h2></h2>
									</div>	
									<div class="cap-readmore animated fadeInUpBig" data-wow-duration="1.5s" data-wow-delay=".5s">
										<a href="#" class="hover_slider_button">Подробнее</a>
									</div>
								</div>									
							</div>										
						</div>	
					</div>
				</div>
			</div>	
		</div>

	</div>
	<!-- HOME SLIDER -->
	<!-- about  area -->
	<div class="about_area collapse in visible-lg visible-md" id="about">
		<div class="container">
			<div class="row">
				<!--section title-->
				<div class="col-md-12 col-sm-12 col-lg-12">	
					<div class="section_title">
						<h2 class="title"><a href="/about">О нас</a></h2>
					</div>
				</div>
				<!--end section title-->
			</div>		
			<div class="row">
				<!--single Item-->
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="about_content">
						<h2>Исторический музей “Спадчына” – визитная карточка учреждения образования, важная составляющая в системе работы по гражданско –патриотическому воспитанию учащихся. Музей расположен в четырёх залах.</h2>
						<p>В экспозициях собрано множество документов и фотографий, свидетельствующих об истории создания колхоза, Залужской школы и фельдшерско-акушерского пункта в деревне Залужье. Много информации собрано о знаменитых земляках и выпускниках школы (поэт России В.Леонов, доктор искусствоведения Е.М.Сахуто и др.).</p>
						<p>В музее проходят обзорные и тематические экскурсии, уроки, внеклассные мероприятия: литературно-исторические гостиные, викторины, митинги-реквиемы, уроки мужества. Важным направлением деятельности музея является исследовательско-поисковая работа.</p>
					</div>
				</div>
				<!-- end single Item-->
			</div>
		</div>	
	</div>
	<div class="about_area_sm collapse in visible-sm visible-xs" id="about_sm">
		<div class="container">
			<div class="row">
				<!--section title-->
				<div class="col-md-12 col-sm-12 col-lg-12">	
					<div class="section_title">
						<h2 class="title"><span>О нас</span></h2>
					</div>
				</div>
				<!--end section title-->
			</div>		
			<div class="row">
				<!--single Item-->
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div class="about_content">
						<h2>Исторический музей “Спадчына” – визитная карточка учреждения образования, важная составляющая в системе работы по гражданско –патриотическому воспитанию учащихся. Музей расположен в четырёх залах.</h2>
						<p></p>
					</div>
				</div>
				<!-- end single Item-->
			</div>
		</div>	
	</div>
	<!-- end about  area -->

	<!--portfolio area -->
	<div class="portfolio_area" id="expositions">
		<div class="container">
			<div class="row">
				<!--section title-->
				<div class="col-md-12">	
					<div class="section_title">
						<h2 class="title"><span>Экспозиции</span></h2>
					</div>
				</div>
				<!--end section title-->
			</div>			
			<div class="row">

				<div class="project_maxitup">
				<!--single portfolio item-->
				{% for exposition in expositions %}
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="portfolio">
						<div class="single_protfolio">
							
							<div class="prot_imag">
								<a href="{% url 'exposition_detail' pk=exposition.pk %}"><img src="{{ MEDIA_URL }}{{ exposition.photo }}" alt="{{ exposition.photo_alt }}" title="{{ exposition.photo_title }}" /></a>
								<div class="hover_port_text">
									<h2><a href="{% url 'exposition_detail' pk=exposition.pk %}">{{ exposition.title }}</a></h2>
									<p>
										{% if exposition.subtitle is not None %}
											{{ exposition.subtitle}}
										{% endif %}
									</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				{% endfor %}
				<!-- end single portfolio item-->
				
				</div>			
			</div>
		</div>	
	</div>
	<!--end portfolio area -->
	
	<!--blog area -->
	
	<div class="blog_area" id="news">
		<div class="container">
			<div class="row">
				<!--section title-->
				<div class="col-lg-12 col-md-12">	
					<div class="section_title">
						<h2 class="title"><span>Новости</span></h2>
					</div>
				</div>
				<!--end section title-->
			</div>			
			<div class="row">
				<div class="team_own curosel-style">
				<!--single blog item-->
				{% for post in posts %}
				<div class="col-lg-12 col-md-12">
					<div class="blog_content">
						
						<div class="blog_img hover_effect blog_hover">
							<a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ MEDIA_URL }}{{ post.photo }}" alt="{{ post.photo_alt }}" title="{{ post.photo_title }}" /></a>
							<div class="bolg_date">
								<a href="{% url 'post_detail' pk=post.pk %}">
									<span>{{ post.published_date.day }}</span>
									<span class="month">
										{% if post.published_date.month == 1 %}
											янв
										{% elif post.published_date.month == 2 %}
											фев
										{% elif post.published_date.month == 3 %}
											мар
										{% elif post.published_date.month == 4 %}
											апр
										{% elif post.published_date.month == 5 %}
											мая
										{% elif post.published_date.month == 6 %}
											июн
										{% elif post.published_date.month == 7 %}
											июл
										{% elif post.published_date.month == 8 %}
											авг
										{% elif post.published_date.month == 9 %}
											сен
										{% elif post.published_date.month == 10 %}
											окт
										{% elif post.published_date.month == 11 %}
											ноя
										{% elif post.published_date.month == 12 %}
											дек	 
										{% endif %}
										</span>
								</a>
							</div>
							
						</div>
						<div class="blog_text">
							<h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
							<p>{{ post.short_text }}</p>
							<a href="{% url 'post_detail' pk=post.pk %}">Подробнее...</a>
						</div>
						
					</div>
				</div>
				{% endfor %}
				<!--end single blog item-->				
				</div>
			</div>
		</div>	
	</div>
	
	<!--end blog area -->
	
{% endblock %}

{% block footer %}

	<div class="container">
		<div class="row">
			<!--section title-->
			<div class=" col-sm-12 col-md-12 col-lg-12">	
				<div class="section_title service_color">
					<h2 class="title"><span>Контакты</span></h2>
				</div>
			</div>
			<!--end section title-->
		</div>		
		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="single_address fix">
					<div class="address_icon"><span><i class="fa fa-map-marker"></i></span></div>
					<div class="address_text"><p><span>Адрес музея:</span> 222669, Минская обл., Столбцовский р-н., д. Залужье, ул. Новая, 155</p></div>
				</div>
				<div class="single_address fix">
					<div class="address_icon"><span><i class="fa fa-phone"></i></span></div>
					<div class="address_text"><p><span>Телефон:</span>  8 (01717) 37-4-41</p></div>
				</div>
				<div class="single_address fix">
					<div class="address_icon"><span><i class="fa fa-envelope-o"></i></span></div>
					<div class="address_text"><p><span>Email: </span> zalujie@tut.by</p></div>
				</div>
				<div class="single_address fix">
					<div class="address_icon"><span><i class="fa fa-desktop"></i></span></div>
					<div class="address_text"><p><span>Сайт учреждения образования:</span> <a href="https://zalujie.schools.by/" target="_blank">zalujie.schools.by</a></p></div>
				</div>					
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="map">
				   <!-- Start contact-map -->
						<div class="contact-map">
							<div id="googleMap">
								<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2376.3546117316773!2d26.600799315581074!3d53.44424697999961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTPCsDI2JzM5LjMiTiAyNsKwMzYnMTAuOCJF!5e0!3m2!1sru!2sby!4v1550508263887" frameborder="0" style="border:0" allowfullscreen></iframe> -->
							</div>
						</div>
					<!-- End contact-map -->
				</div>				
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<form method="post">{% csrf_token  %}
					<div class="contract_us">	
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-user"></i></span>
							{{ form.sender_name }}
						</div>
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-envelope-o"></i></span>
							{{ form.sender }}
						</div>
						<div class="inputt">
							<span class="message_icon"><i class="fa fa-external-link"></i></span>
							{{ form.message }}
						</div> -->
						<div class="sunmite_button">
							<button type="submit" name="ok">Написать нам</button>
						</div>
					</div>
				</form>
			</div>				
		</div>
	</div>			


{% endblock %}