{% extends 'museum/base.html' %}

{% block head %}

<title>Народный исторический  музей «Спадчына» - Новости</title>
<meta name="description" content="">
<meta name="keywords" content="">

{% endblock %}


{% block content %}

<div class="bl_area">
    <div class="container">
        <div class="row">
        <!--section title-->
            <div class="col-lg-12 col-md-12">	
                <div class="section_title">
                    <h2 class="title"><span>Новости</span></h2>
                </div>
            </div>
        <!--end section title-->
    </div>

    <div class="row">
            <div class="team_own curosel-style">
            <!--single blog item-->
            {% for new in news %}
            <div class="col-lg-12 col-md-12">
                <div class="blog_content">
                    <div class="blog_img hover_effect blog_hover">
                        <a href="{% url 'post_detail' pk=new.pk %}"><img src="{{ MEDIA_URL }}{{ new.photo }}" alt="new.photo_alt" title="new.photo_title" /></a>
                        <div class="bolg_date">
                            <a href="{% url 'post_detail' pk=new.pk %}">
                                <span>{{ new.published_date.day }}</span>
                                <span class="month">
                                    {% if new.published_date.month == 1 %}
                                        янв
                                    {% elif new.published_date.month == 2 %}
                                        фев
                                    {% elif new.published_date.month == 3 %}
                                        мар
                                    {% elif new.published_date.month == 4 %}
                                        апр
                                    {% elif new.published_date.month == 5 %}
                                        мая
                                    {% elif new.published_date.month == 6 %}
                                        июн
                                    {% elif new.published_date.month == 7 %}
                                        июл
                                    {% elif new.published_date.month == 8 %}
                                        авг
                                    {% elif new.published_date.month == 9 %}
                                        сен
                                    {% elif new.published_date.month == 10 %}
                                        окт
                                    {% elif new.published_date.month == 11 %}
                                        ноя
                                    {% elif new.published_date.month == 12 %}
                                        дек	 
                                    {% endif %}
                                    </span>
                            </a>
                        </div>
                    </div>
                    <div class="blog_text">
                        <h2><a href="{% url 'post_detail' pk=new.pk %}">{{ new.title }}</a></h2>
                        <p>{{ new.short_text }}</p>
                        <a href="{% url 'post_detail' pk=new.pk %}">Подробнее...</a>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            <!--end single blog item-->				
            </div>
        </div>
    </div>	
</div>

{% endblock %}

{% block footer %}
			<div class="col-sm-4 col-md-4 col-lg-4">
				<form method="post">{% csrf_token  %}
					<div class="contract_us">	
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-user"></i></span>
							{{ form.sender_name }}
						</div>
						<div class="inputt input_change">
							<span class="message_icon"><i class="fa fa-envelope-o"></i></span>
							{{ form.sender }}
						</div>
						<div class="inputt">
							<span class="message_icon"><i class="fa fa-external-link"></i></span>
							{{ form.message }}
						</div> -->
						<div class="sunmite_button">
							<button type="submit" name="ok">Написать нам</button>
						</div>
					</div>
				</form>
			</div>				
		</div>
	</div>			

{% endblock %}