
    <p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p><p>&nbsp</p>
    <p>&nbsp</p>


   
    <p>Спасибо за ваше сообщение!</p>
    <a href="/">Вернуться на главную</a>

    <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="\feedback" method="post">{% csrf_token %}
                <div class="contract_us">
                    
                    <div class="inputt input_change">
                        <span class="message_icon"><i class="fa fa-user"></i></span>
                        <input type="text" name="name" value="{{ form.sender_name}}" class="form-control" id="name" placeholder="Имя" required >
                    </div>
                    <div class="inputt input_change">
                        <span class="message_icon"><i class="fa fa-envelope-o"></i></span>
                        <input type="email" name="email" value="{{ form.sender}}" class="form-control" id="email" placeholder="Email">
                    </div>
                    <div class="inputt">
                        <span class="message_icon"><i class="fa fa-external-link"></i></span>
                        <textarea class="form-control" name="message" value="{{ form.message}}" rows="4" id="mes" placeholder="Сообщение" required></textarea>
                    </div>
                    <div class="sunmite_button">
                        <button type="submit" name="ok" value="Submit">Написать нам</button>
                    </div>
                     
                </div>
            </form>
        </div>

    
