{% extends 'museum/base.html' %}

{% block head %}

<title>Народный исторический  музей «Спадчына» - {{ post.title }}</title>
<meta name="description" content="">
<meta name="keywords" content="">

{% endblock %}


{% block content %}
    <div class="news_area">
		<div class="container">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<div class="single_blog_page">
						<div class="single_blog_text">
							<div class="post_title">
								<h2>
									{{ post.title }}
                                </h2>
                                {% if post.published_date %}
                                    <div class="date">
                                    {{ post.published_date }}
                                    </div>
                                {% endif %}
							</div>
							<div class="blog_pra_text">
		    					<p>
                                    {{ post.text|linebreaksbr }}
								</p>
							</div>
						</div>												
					</div>
				</div>
    		</div>
        </div>

        <div class="news_area">
            <div class="container">			
                <div class="row">
                    <div class="team_own curosel-style">
                    <!--single blog item-->
                    <div class="col-md-1"></div>
                    <div class="col-md-12">
                        <div class="blog_content">
                            <div class="blog_img blog_hover">
                                <a href=""><img src="{{ MEDIA_URL }}{{ post.photo }}" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <!--end single blog item-->
                    </div>
                </div>
            </div>	
        </div>

    </div>

    
{% endblock %}